.cabinet {
  &__container {
    padding: 50px 15px 90px 15px;
  }

  &__title {
    text-align: center;
  }
}

.admin__container {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
